@page "/"
@model My_wine_collection.Pages.Drinks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wine[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wine[0].Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wine[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wine[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wine[0].PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wine[0].Producer.ProducerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wine) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
